
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2016/12/03/18/57/car-1880381_1280.jpg);">
  <div class="container">
    <h1>Welcome to <strong>Awesome Garage</strong>!</h1>
    <p>We Bring Your Car Dreams to Life.</p>
    <a class="btn btn-flat" href="#">Sign Up</a>
  </div>
</div>
